.navigation {
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    font-family: "Alegreya";
    text-transform: uppercase;
  } 
  &__link {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
  }
}