.page-header {
  background-color: #cbcfd3;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  border-bottom: 10px;  
  border-bottom-color: #fff;
  &__top {    
    background-color: rgba(86, 86, 76, 0.6);
    &--flex {
      display: flex;
      flex-wrap: wrap;  
      padding: 25px 0;   
      justify-content: space-between;     
    }
  }
}